// Bootstrap overrides
//
$body-bg: #000;
$body-color: #ffae00;
$enable-shadows: true;
$primary: #28a745;
$secondary: #ffc107;

// Bootstrap and its default variables
@import '@/../node_modules/bootstrap/scss/bootstrap';

// BootstrapVue and its default variables
@import '@/../node_modules/bootstrap-vue/src/index.scss';

html,
body {
  height: 100%;
}

.bigScreenText {
  font-size: 4em;
  font-weight: bold;
}

.mediumScreenText {
  font-size: 2em;
  font-weight: bold;
}

.smallerScreenText {
  font-size: 1.5em;
  font-weight: bold;
}

$bigInputBg: #333333;
$bigInputFg: yellowgreen;
.bigInputText {
  background-color:$bigInputBg;
  color: $bigInputFg;
  border: 3px solid $body-color;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
}
.bigInputText:focus {
  background-color:$bigInputBg;
  color: $bigInputFg;
}

.bigButton {
  font-size: 0.7em;
  border: 3px solid $body-color;
}

.darkBottomBorder {
  border-bottom: none !important
}
.darkTopBorder {
  border-top: none !important
}
.boldText {
  font-weight: bold;
}

.btn-funsize {
  @include button-size(
    $btn-padding-y-lg, 
    $btn-padding-x-lg, 
    2rem, 
    $btn-line-height-lg, 
    0.7rem
  );
}

.otherColor {
  color: #3CAEA3;
}