html, body {
  height: 90%;
  color: rgb(255, 174, 0);
  background-color: black;
}

#rootContainer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
}
